@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #003554;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #e3e3e3;
  text-align: center;
  font-size: 35px;
  text-shadow: 0 0 5px #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  box-shadow: 0 0 5px #000000;
}

.footer {
  text-align: center;
  padding-top: 12px;
  color: #e3e3e3;
}

.button-right {
  display: flex;
  gap: 4px;
}

.button {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.new-pad {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#rainbow,
#red,
#orange,
#yellow,
#green,
#blue,
#purple,
#reset,
#eraser {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px #000000;
  cursor: pointer;
}

#new-pad {
  border: solid 2px #000000;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 100px 5px 100px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid-container {
  display: grid;
}

#rainbow {
  background-image: linear-gradient(red, orange, yellow, green, blue, purple);
}

#red {
  background-color: red;
}

#orange {
  background-color: darkorange;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#purple {
  background-color: purple;
}

#reset,
#eraser {
  background-color: #e3e3e3;
}
