#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

#container-layout {
  background-color: grey;
  border: solid 4px black;
  display: flex;
  margin: auto;
  padding: 15px;
  max-width: 525px;
}

#container > div:hover {
  background-color: pink;
  transition: background-color 0.05s;
}
